.about-page {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  color: white;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  
  .content {
    padding: 20px;
  }
  
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
   /* height: 100%; */
   width: 90%;
   padding: 20px; 
  }
  
  @media (min-width: 768px) {
    .content {
      flex: 1;
    }
  
    .image {
      flex: 1;
    }
  }
  